{% extends 'website/base.html' %}

{% block content %}
<style type="text/css">
input[type="checkbox"] {
  font-size: 20px;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
div {
  text-align:center;
}
</style>
<br /><br />
<div class="container">
  <h2>Altering codes for: <text class="color-primary">{{ post }}</text></h2>
  <div class="row">
    <div class="col-md-6 offset-md-3">
       {% include 'website/server_messages.html' %}
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col">
      <h3>Unused Codes</h3>
      <div class="row">
        <div class="col offset-4" style="text-align:left;">
          {% for code in unused_codes %}
          <input id="{{ code }}" type="checkbox">
          {{ code }}<br>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col">
      <h3>Used Codes</h3>
      <div class="row">
        <div class="col offset-5" style="text-align:left;">
          {% for code in used_codes %}
          <i href="{% url 'posting:remove_coupon' pk=code.pk %}" class="far fa-trash-alt" data-toggle="tooltip" title="Stop using coupon"></i>
          {{ code.code }}<br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col">
      <button class="btn btn-danger col-2">Back</button>
      <button class="btn btn-success col-9">Save Changes</button>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
$('.btn-danger').click(function() {
  window.location.href = "{% url 'administration:view_project' pk=post.project.pk %}";
});

$('.fa-trash-alt').click(function() {
  window.location.href = $(this).attr('href');
});

$('.btn-success').click(function() {
  var codes = [];

  $('input[type="checkbox"]').each(function() {
    if($(this).is(':checked')) {
      codes.push($(this).attr('id'));
    }
  });

  setup_ajax();

  $.post("{% url 'posting:use_codes' pk=post.pk %}", JSON.stringify({
    "codes_to_apply": codes,
    "csrf_token": "{{ csrf_token }}"
  }), function() {
    location.reload();
  });
});
</script>
{% endblock js %}
