{% extends 'website/base.html' %}

{% block custom_css %}
<style type="text/css">
input, select {
  width: 100%;
}

tr:nth-child(even) > td {
  background-color: #ddd;
}

.location {
  float: right;
  position: relative;
  top: 3px;
}
</style>
{% endblock custom_css %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <button class="btn btn-danger">Back</button>
      <br /><br />
      <h2>
        Post Details
        <i id='add-post' class="far fa-plus-square" data-toggle="tooltip" title="Add post location(s)"></i>
      </h2><br />
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
          {{ field.label }}<br />
          {{ field }}<br /><br />
        {% endfor %}
        <button class="btn btn-success col-12">Save Post</button>
      </form>
      <br /><br />
      <h2>Post Locations</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Platform</th>
            <th>Date Posted</th>
            <th>Code Used</th>
            <th>Earned</th>
          </tr>
        </thead>
        <tbody>
          {% for location in locations %}
          <tr>
            <td>{{ location.platform }}</td>
            <td>{{ location.posted_on }}</td>
            <td>{{ location.code }}</td>
            <td>
              {{ location.get_amount_earned }}
              <i href="{% url 'posting:remove_post_location' pk=location.pk %}" class="far fa-trash-alt location" data-toggle="tooltip" title="Remove post location"></i>
            </td>
          </tr>
          <tr>
            <td>
              URL
            </td>
            <td colspan="3">
              {{ location.url }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
$('.location').click(function() {
  if(confirm("Are you sure you want to delete this post location?")) {
    direct_to_href($(this));
  }
});

$('.fa-plus-square').click(function() {
  window.location.href = "{% url 'posting:add_post_location' pk=post.pk %}";
});

$('.btn-danger').click(function() {
  window.location.href = "{% url 'administration:view_project' pk=post.project.pk %}";
});
</script>
{% endblock js %}
