{% extends 'website/base.html' %}

{% block custom_css %}
<style type="text/css">
  table {
    padding: 20px;
  }
  td, th {
    padding: 10px !important;
  }
  tr:nth-child(even) {
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
  }
  li {color: red;}
</style>
{% endblock custom_css %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="center"><b>Add a Post</b></h2><br />
      <form method="post"> {% csrf_token %}
          <table class="col-12">
            {{ form }}
          </table><br />
          <button class="btn btn-success col-12">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>

</script>
{% endblock js %}
