{% extends 'website/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th>Post</th>
              <th>Amount Earned</th>
              <th>Amount Owed</th>
            </tr>
          </thead>
          <tbody>
            {% for post in project.get_posts %}
              <tr>
                <td>{{ post }}</td>
                <td>${{ post.get_amount_earned }}</td>
                <td>${{ post.get_amount_owed }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <br /><br />
        <button class="btn btn-danger">Back</button>
      </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
$('.btn-danger').click(function() {
  window.location.href = "{% url 'administration:view_project' pk=project.pk %}";
});
</script>
{% endblock js %}
