{% extends 'website/base.html' %}

{% block custom_css %}
<style type="text/css">
td {
  font-size: 20px;
}

th:nth-child(2), th:nth-child(3),
td:nth-child(2), td:nth-child(3) {
  text-align: center;
}
</style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
<div class="container">
<h2>
  Projects
  <i class="far fa-plus-square"></i>
</h2>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Earned this Qtr</th>
        <th>Owed to T&M</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td><a href="{% url 'administration:view_project' pk=project.pk %}">{{ project }}</a></td>
        <td>${{ project.get_amount_earned }}</td>
        <td>${{ project.get_amount_owed }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">There are currently no projects in the system</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}

{% block js %}
<script>
</script>
{% endblock js %}
