{% extends 'website/base.html' %}

{% block custom_css %}
<style type="text/css">
thead {
  background-color: var(--primary-color);
}

.sub-heading {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}

h2 > i:first-child {
  margin-left: 25px;
}

h2 {
  margin-bottom: 25px;
}

.fa-plus {
  float: right;
  color: white;
  margin-top: 5px;
}

td:hover {
  background-color: #ddd;
}
</style>
{% endblock custom_css %}

{% block content %}
<div class="container">
  <h2>
    <button class="btn btn-danger">Back</button>
    {{ project }}
    <i class="fas fa-pencil-alt" data-toggle="tooltip" title="Edit Project"></i>
    <i class="fas fa-ticket-alt" data-toggle="tooltip" title="Add coupon"></i>
    <i href="{% url 'administration:financial_summary' pk=project.pk %}" class="fas fa-dollar-sign" data-toggle="tooltip" title="Financial Summary"></i>
    <i class="far fa-trash-alt" data-toggle="tooltip" title="Delete Project"></i>
    <i class="fas fa-users" data-toggle="tooltip" title="View potential new post locations"></i>
  </h2>
  <div class="row">
    <div class="col">
      <table class="table">
          <thead>
            <tr>
              <th>
                Post Topics
                <i id='add-post' class="fas fa-plus"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for topic in project.get_topics %}
            <tr>
              <td href="" class="topic">
                {{ topic }}
                <text style="float:right;">{{ topic.get_num_posts }}</text>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td>There are currently no topics for this project.</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table">
          <thead>
            <tr>
              <th>
                Posts
                <i id='add-post' class="fas fa-plus"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for post in topic.get_posts %}
            <tr>
              <td>
                {{ topic }}
                <text style="float:right;">{{ topic.get_num_posts }}</text>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td>There are currently no posts for this topic.</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table">
          <thead>
            <tr>
              <th>
                Post Locations
                <i id='add-post' class="fas fa-plus"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for location in post.get_locations %}
            <tr>
              <td>
                {{ location }}
                <text style="float:right;">{{ location.get_amount_earned }}</text>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td>There post has not been posted anywhere</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>

$('.topic').click(function() {
  direct_to_href($(this));
});

$('.btn-danger').click(function() {
  window.location.href = "{% url 'administration:homepage' %}";
});

$('.fa-users').click(function() {
  window.open("{{ project.new_post_locations }}", '_blank');
});

$('.fa-pencil-alt').click(function() {
  window.location.href = "{% url 'administration:update_project' pk=project.pk %}";
});

$('.fa-trash-alt').click(function() {
  if(confirm("Are you sure you want to delete this project?")) {
    window.location.href = "{% url 'administration:delete_project' pk=project.pk %}";
  }
});

$('#add-post').click(function() {
  window.location.href = "{% url 'posting:add_post' pk=project.pk %}";
});

$('.fa-ticket-alt').click(function() {
  window.open("{{ project.add_coupon_url }}", '_blank');
});

$('.fa-dollar-sign').click(function() {
  window.location.href = $(this).attr('href');
});
</script>
{% endblock js %}
