{% extends 'website/base.html' %}

{% block content %}
<!-- main page row -->
<div class="row">

  <div class="col-md-8">
    <!-- Noteable locations card -->
    <div class="card" style="padding-bottom:15px;">
      <span>
        <i class="fas fa-globe card-icon" style="background-color:var(--location-color);"></i>
        <text class="card-heading">Noteable Locations</text>
      </span>
      <br>
      <!-- card inner row -->
      <div class="row">
        <div class="col">

          <!-- Locations Headings -->
          <div class="row">
            <div class="col-5">
              <h6>Location</h6>
              <hr>
            </div>
            <div class="col-3">
              <h6>Movement Today</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Earned</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Active Posts</h6>
              <hr>
            </div>
          </div>
          <!-- End Locations Headings -->

          {% for location in notable_locations %}
            <div class="row">
              <div class="col-5">
                {{ location }}
              </div>
              <div class="col-3">
                {{ location.get_movement_today }}
              </div>
              <div class="col">
                {{ location.get_earned }}
              </div>
              <div class="col">
                {{ location.get_num_active_posts }}
              </div>
            </div>
          {% empty %}
            <div class="row">
              <div class="col">
                There are currently no notable locations.
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
      <!-- end card inner row -->
    </div>

    <!-- Posts to follow up on card -->
    <div class="card" style="padding-bottom:15px;">
      <span>
        <i class="fas fa-sticky-note card-icon" style="background-color:var(--posts-color);"></i>
        <text class="card-heading">Posts To Follow Up On</text>
      </span>
      <br>
      <!-- card inner row -->
      <div class="row">
        <div class="col">

          <!-- Posts Headings -->
          <div class="row">
            <div class="col-6">
              <h6>Post</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Date Posted</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Sales</h6>
              <hr>
            </div>
          </div>
          <!-- End Posts Headings -->

          {% for post in posts_to_follow_up_on %}
            <div class="row">
              <div class="col-5">
                {{ post }}
              </div>
              <div class="col-3">
                {{ post.post_time }}
              </div>
              <div class="col">
                {{ post.get_earned }}
              </div>
            </div>
          {% empty %}
            <div class="row">
              <div class="col">
                There are currently no posts to follow up on.
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
      <!-- end card inner row -->
    </div>
  </div>

  <!-- Right side container -->
  <div class="col-md-4">
    <!-- Tasks Summary card -->
    <div class="card" style="padding-bottom:15px;">
      <span>
        <i class="fas fa-spinner card-icon" style="background-color:var(--in-progress-color);"></i>
        <text class="card-heading">Tasks Summary</text>
      </span>
      <br>
      <!-- card inner row -->
      <div class="row">
        <div class="col">

          <!-- Locations Headings -->
          <div class="row">
            <div class="col-4">
              <h6>Project</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Task</h6>
              <hr>
            </div>
          </div>
          <!-- End Locations Headings -->

          {% for tasks in tasks_summary %}
            <div class="row">
              <div class="col-4">
                {{ task.project }}
              </div>
              <div class="col">
                {{ task }}
              </div>
            </div>
          {% empty %}
            <div class="row">
              <div class="col">
                There are currently no tasks in progress.
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
      <!-- end card inner row -->
    </div>
  </div>

</div>
<!--  End main page row -->
{% endblock content %}
