{% extends 'website/base.html' %}

{% block content %}
<!-- main page row -->
<div class="row">

  <div class="col">
    <!-- Noteable locations card -->
    <div class="card" style="padding-bottom:15px;">
      <span>
        <i class="fas fa-globe card-icon" style="background-color:var(--location-color);"></i>
        <text class="card-heading">Noteable Locations</text>
      </span>
      <br>
      <!-- card inner row -->
      <div class="row">
        <div class="col">

          <!-- Locations Headings -->
          <div class="row">
            <div class="col-5">
              <h6>Location</h6>
              <hr>
            </div>
            <div class="col-3">
              <h6>Movement Today</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Earned</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Active Posts</h6>
              <hr>
            </div>
          </div>
          <!-- End Locations Headings -->

          {% for location in notable_locations %}
            <div class="row">
              <div class="col-5">
                {{ location }}
              </div>
              <div class="col-3">
                {{ location.get_movement_today }}
              </div>
              <div class="col">
                {{ location.get_earned }}
              </div>
              <div class="col">
                {{ location.get_num_active_posts }}
              </div>
            </div>
          {% empty %}
            <div class="row">
              <div class="col">
                There are currently no notable locations.
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
      <!-- end card inner row -->
    </div>

    <div class="card" style="padding-bottom:15px;">
      <span>
        <i class="fas fa-spinner card-icon" style="background-color:var(--in-progress-color);"></i>
        <text class="card-heading">Tasks Summary</text>
      </span>
      <br>
      <!-- card inner row -->
      <div class="row">
        <div class="col">

          <!-- Locations Headings -->
          <div class="row">
            <div class="col-4">
              <h6>Project</h6>
              <hr>
            </div>
            <div class="col-6">
              <h6>Task</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Due Date</h6>
              <hr>
            </div>
          </div>
          <!-- End Locations Headings -->

          {% for task in tasks %}
            <div class="row">
              <div class="col-4">
                {% if task.sample_post %}
                  {{ task.sample_post.project }}
                {% else %}
                  {{ task.live_post.sample_post.project }}
                {% endif %}
              </div>
              <div class="col-6">
                {% if task.sample_post %}
                  {{ task }}
                  <i class="fas fa-link action-link" href="{% url 'marketing:view_posting_task' pk=task.pk %}"></i>
                {% else %}
                  {{ task }}
                  <i class="fas fa-link action-link" href="{% url 'marketing:view_monitor_task' pk=task.pk %}"></i>
                {% endif %}
              </div>
              <div class="col">
                {{ task.due_date }}
              </div>
            </div>
          {% empty %}
            <div class="row">
              <div class="col">
                There are currently no tasks in progress.
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
      <!-- end card inner row -->
    </div>

  </div>

</div>
<!--  End main page row -->
{% endblock content %}
