{% extends 'website/base.html' %}

{% block custom_css %}
.up {
  margin-top: -8px !important;
}

.up:nth-child(odd) {
  margin-left: 10px;
}

{% endblock custom_css %}

{% block content %}
<!-- main page row -->
<div class="row">

  <!-- Page title and filter bar -->
  <div class="col-12 top-bar">
    <div class="row">

      <div class="col-2">
        <h2>Live Posts</h2>
      </div>

      <div class="col">
        <button type="button" name="button" class="btn btn-primary">Instagram</button>
        {% for platform in platforms %}
        <button type="button" name="button" class="btn btn-default">{{ platform }}</button>
        {% endfor %}
      </div>

    </div>
  </div>
  <!-- End Page title and filter bar -->

  {% for post in live_posts %}
  <!-- Locations -->
  <div class="col-6">
      <!-- Location Card -->
      <div class="card" style="padding-bottom:15px;">
        <span>
          <i class="fas fa-sticky-note card-icon" style="background-color:var(--posts-color);"></i>
          <text class="card-heading">{{ post }}</text>
          <button type="button" name="button" class="btn btn-danger up mark-inactive" href="{% url 'marketing:mark_post_inactive' pk=post.pk %}">Mark As Inactive</button>
          <i class="far fa-clone action-link animated item" href="#" style="margin-left: 10px;"></i>
          <i class="fas fa-pencil-alt action-link animated item" href="#" style="position:relative;left:-5px;"></i>
          <i class="fas fa-trash-alt action-link animated item" href="#"></i>
        </span>
        <br>
        <!-- card inner row -->
        <div class="row">
          <div class="col">

            <!-- Live Post Headings -->
            <div class="row">
              <div class="col">
                <h6>Posted By</h6>
                <hr>
              </div>
              <div class="col-3">
                <h6>Location</h6>
                <hr>
              </div>
              <div class="col">
                <h6>Interactions</h6>
                <hr>
              </div>
              <div class="col-3">
                <h6>Post Time</h6>
                <hr>
              </div>
              <div class="col">
                <h6>Sales</h6>
                <hr>
              </div>
            </div>
            <!-- End Live Post Headings -->

            <!-- Live Posts -->
            <div class="row">
              <div class="col">
                {{ post.poster }}
              </div>
              <div class="col-3">
                {{ post.location }}
              </div>
              <div class="col">
                {{ post.get_number_of_interactions }}
              </div>
              <div class="col-3">
                {{ post.post_time }}
              </div>
              <div class="col card-data financial-data">
                ${{ post.get_sales }}
              </div>
            </div>
            <!-- End Live Posts -->

          </div>
        </div>
        <!-- end card inner row -->
      </div>
      <!-- End Location Card -->

  </div>
  {% endfor %}
  <!-- End Locations -->

</div>
<!--  End main page row -->
{% endblock content %}

{% block js %}
<script type="text/javascript">
  $('.mark-inactive').click(function() {
    if(confirm("Are you sure you want to mark this post as inactive?")) {
      window.location.href = $(this).attr('href');
    }
  });
</script>
{% endblock js %}
