{% extends 'website/base.html' %}

{% block custom_css %}
.up {
  margin-top: -8px !important;
}

.up:nth-child(odd) {
  margin-left: 10px;
}

{% endblock custom_css %}

{% block content %}
<!-- main page row -->
<div class="row">

  <!-- Page title and filter bar -->
  <div class="col-12 top-bar">
    <div class="row">

      <div class="col-2">
        <h2>Locations</h2>
      </div>

      <div class="col">
        <button type="button" name="button" class="btn btn-primary">Instagram</button>
        {% for platform in platforms %}
        <button type="button" name="button" class="btn btn-default">{{ platform }}</button>
        {% endfor %}
      </div>

    </div>
  </div>
  <!-- End Page title and filter bar -->

  <!-- Locations -->

    {% for location in locations %}
    <div class="col-6">
      <!-- Location Card -->
      <div class="card" style="padding-bottom:15px;">
        <span>
          <i class="fas fa-globe card-icon" style="background-color:var(--location-color);"></i>
          <text class="card-heading">{{ location }}</text>
          <i class="fas fa-comments action-link animated item" href="#" style="margin-left:10px;"></i>
          <i class="fas fa-pencil-alt action-link animated item" href="#" style="position:relative;left:-5px;"></i>
          <i class="fas fa-trash-alt action-link animated item" href="{% url 'marketing:delete_location' pk=location.pk %}"></i>
        </span>
        <br>
        <!-- card inner row -->
        <div class="row">
          <div class="col">

            <!-- Locations Headings -->
            <div class="row">
              <div class="col">
                <h6>URL</h6>
                <hr>
              </div>
              <div class="col">
                <h6>Posts/Week</h6>
                <hr>
              </div>
              <div class="col">
                <h6># Followers</h6>
                <hr>
              </div>
              <div class="col-4">
                <h6>Tone</h6>
                <hr>
              </div>
              <div class="col">
                <h6>Sales</h6>
                <hr>
              </div>
            </div>
            <!-- End Locations Headings -->

            <div class="row">
              <div class="col card-data">
                <a target="_blank" rel="noopener noreferrer" href="{{ location.url }}">(click)</a>
              </div>
              <div class="col card-data">
                {{ location.posts_per_week }}
              </div>
              <div class="col card-data">
                {{ location.following_count }}
              </div>
              <div class="col-4 card-data">
                {{ location.tone }}
              </div>
              <div class="col card-data financial-data">
                ${{ location.get_sales }}
              </div>
            </div>

          </div>
        </div>
        <!-- end card inner row -->
      </div>
      <!-- End Location Card -->

  </div>
  {% endfor %}
  <!-- End Locations -->

</div>
<!--  End main page row -->
{% endblock content %}
