{% extends 'website/base.html' %}

{% block custom_css %}
.up {
  margin-top: -8px !important;
}

.up:nth-child(odd) {
  margin-left: 10px;
}

{% endblock custom_css %}

{% block content %}
<!-- main page row -->
<div class="row">

  <!-- Page title and filter bar -->
  <div class="col-12 top-bar">
    <div class="row">

      <div class="col-2">
        <h2>Locations</h2>
      </div>

      <div class="col">
        {% for platform in platforms %}
          <button type="button" name="button" class="btn btn-default platform">{{ platform }}</button>
        {% endfor %}
      </div>

    </div>
  </div>
  <!-- End Page title and filter bar -->

  <!-- Locations -->
    <div class="col-12">
      <div class="card" style="padding-bottom:15px;">
        <!-- Locations Headings -->
        <div class="row">
          <div class="col">
            <h6>Name</h6>
            <hr>
          </div>
          <div class="col">
            <h6>Posts/Week</h6>
            <hr>
          </div>
          <div class="col">
            <h6># Followers</h6>
            <hr>
          </div>
          <div class="col-4">
            <h6>Tone</h6>
            <hr>
          </div>
          <div class="col">
            <h6>Sales</h6>
            <hr>
          </div>
        </div>
        <!-- End Locations Headings -->
      {% for location in locations %}
      <div class="item-container {{location.platform}}">
        <!-- Location Card -->
          <!-- card inner row -->
          <div class="row">
            <div class="col">

              <div class="row">
                <div class="col card-data">
                  <a href="{% url 'marketing:view_location' pk=location.pk %}" target="_blank" rel="noopener noreferrer">{{ location.name }}</a>
                  (
                  <a href="{{ location.url }}" target="_blank" rel="noopener noreferrer">{{ location.platform.abbreviated_name }}</a>
                  )
                </div>
                <div class="col card-data">
                  {{ location.posts_per_week }}
                </div>
                <div class="col card-data">
                  {{ location.following_count }}
                </div>
                <div class="col-4 card-data">
                  {{ location.tone }}
                </div>
                <div class="col card-data financial-data">
                  ${{ location.get_sales }}
                </div>
              </div>

            </div>
          </div>
          <!-- end card inner row -->
      </div><br>
      {% endfor %}
    </div>
  </div>
  <!-- End Locations -->

</div>
<!--  End main page row -->
{% endblock content %}

{% block js %}
<script type="text/javascript">
  $('.platform').click(function() {
    filter_cards([$(this).html()]);
    set_active($(this), 'platform');
  });
</script>
{% endblock js %}
