{% extends 'website/base.html' %}

{% block custom_css %}
.up {
  margin-top: -8px !important;
}

.up:nth-child(odd) {
  margin-left: 10px;

}

.interactable:hover {
  background-color: #f2f3f4;
}
{% endblock custom_css %}

{% block content %}
<!-- main page row -->
<div class="row">

  <div class="col">

    <!-- Assign to user card -->
    <div class="card" style="padding-bottom:15px;">
      <span>
        <i class="fas fa-spinner card-icon" style="background-color:var(--in-progress-color);"></i>
        <text class="card-heading">Assigned to You</text>
        <button type="button" name="button" class="btn btn-primary up">In-Progress</button>
        <button type="button" name="button" class="btn btn-default up">Complete</button>
      </span>
      <br>
      <!-- card inner row -->
      <div class="row">
        <div class="col">

          <!-- Locations Headings -->
          <div class="row">
            <div class="col-2">
              <h6>Project</h6>
              <hr>
            </div>
            <div class="col-3">
              <h6>Post</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Due Date</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Type</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Assigned By</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Due Date / Interact</h6>
              <hr>
            </div>
          </div>
          <!-- End Locations Headings -->

          {% for task in tasks.to_user %}
          {% if task.sample_post %}
            <div class="row interactable action-link" href="{% url 'marketing:view_posting_task' pk=task.pk %}">
              <div class="col-2">
                  {{ task.sample_post.project }}
              </div>
              <div class="col-3">
                {{ task.sample_post.title }}
              </div>
              <div class="col">
                {{ task.due_date }}
              </div>
              <div class="col">
                  CREATE POST
              </div>
              <div class="col">
                {{ task.creator }}
              </div>
              <div class="col">
                {{ task.due_date }}
              </div>
            </div>
          {% else %}
            <div class="row interactable action-link" href="{% url 'marketing:view_monitor_task' pk=task.pk %}">
              <div class="col-2">
                {{ task.live_post.sample_post.project }}
              </div>
              <div class="col-3">
                {{ task.live_post.sample_post.title }}
              </div>
              <div class="col">
                {{ task.due_date }}
              </div>
              <div class="col">
                MONITOR POST
              </div>
              <div class="col">
                {{ task.creator }}
              </div>
              <div class="col">
                {{ task.due_date }}
              </div>
            </div>
          {% endif %}
          <br>
          {% empty %}
            <div class="row">
              <div class="col">
                There are currently no tasks assigned to you.
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
      <!-- end card inner row -->
    </div>

    <!-- Assign by user card -->
    <div class="card" style="padding-bottom:15px;">
      <span>
        <i class="fas fa-spinner card-icon" style="background-color:var(--complete-color);"></i>
        <text class="card-heading">Assigned by You</text>
        <button type="button" name="button" class="btn btn-primary up">In-Progress</button>
        <button type="button" name="button" class="btn btn-default up">Complete</button>
      </span>
      <br>
      <!-- card inner row -->
      <div class="row">
        <div class="col">

          <!-- Locations Headings -->
          <div class="row">
            <div class="col-2">
              <h6>Project</h6>
              <hr>
            </div>
            <div class="col-3">
              <h6>Post</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Due Date</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Type</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Assigned To</h6>
              <hr>
            </div>
            <div class="col">
              <h6>Due Date / Interact</h6>
              <hr>
            </div>
          </div>
          <!-- End Locations Headings -->

          {% for task in tasks.to_user %}
            <div class="row">
              <div class="col-2">
                {% if task.sample_post %}
                  {{ task.sample_post.project }}
                {% else %}
                  {{ task.live_post.sample_post.project }}
                {% endif %}
              </div>
              <div class="col-3">
                {% if task.sample_post %}
                  {{ task.sample_post.title }}
                {% else %}
                  {{ task.live_post.sample_post.title }}
                {% endif %}
              </div>
              <div class="col">
                {{ task.due_date }}
              </div>
              <div class="col">
                {% if task.sample_post %}
                  CREATE POST
                {% else %}
                  MONITOR POST
                {% endif %}
              </div>
              <div class="col">
                {{ task.assigned_to }}
              </div>
              <div class="col">
                {{ task.due_date }}
                {% if task.sample_post %}
                  <i class="fas fa-pencil-alt edit action-link animated item" href="#" style="margin-right: 3px;"></i>
                  <i class="fas fa-trash-alt delete action-link animated item" href="{% url 'marketing:delete_create_post_task' pk=task.pk %}"></i>
                {% else %}
                  <i class="fas fa-pencil-alt edit action-link animated item" href="#" style="margin-right: 3px;"></i>
                  <i class="fas fa-trash-alt delete action-link animated item" href="{% url 'marketing:delete_monitor_post_task' pk=task.pk %}"></i>
                {% endif %}
              </div>
            </div>
            <br>
          {% empty %}
            <div class="row">
              <div class="col">
                There are currently no tasks assigned by you.
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
      <!-- end card inner row -->
    </div>

  </div>

</div>
<!--  End main page row -->
{% endblock content %}
